    ._header[_ngcontent-bta-c179] .example-spacer[_ngcontent-bta-c179] {
      flex: 1 1 auto
    }

    ._navBar[_ngcontent-bta-c179] .mat-toolbar[_ngcontent-bta-c179] {
      justify-content: center !important
    }

    .content-body[_ngcontent-bta-c179] {
      height: 100%;
      width: 100%;
      overflow-x: hidden
    }

    mat-form-field[_ngcontent-bta-c179] {
      width: 100%
    }

    mat-card.card[_ngcontent-bta-c179] {
      border-top: 3px solid #3f51b5
    }

    .card[_ngcontent-bta-c179] {
      box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f
    }

    .mat-form-field-appearance-outline .mat-form-field-label {
      height: 42px;
      position: relative;
      top: 4px;
      line-height: 3
    }

    .mat-form-field-appearance-outline .mat-form-field-label mat-label {
      font-size: 16px
    }

    input.mat-input-element {
      height: 32px;
      position: relative;
      top: -5px;
      font-size: 16px
    }

    .mat-select {
      display: inline-block;
      width: 100%;
      outline: none;
      height: 32px;
      position: relative;
      top: -5px
    }

    .mat-select-trigger {
      height: 5.125em
    }

    .mat-select-value-text {
      position: relative;
      top: 12px
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: .5em 0
    }

    .mat-form-field-label-wrapper {
      top: -1.25em
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      display: flex;
      align-items: center
    }

    input.mat-input-element {
      height: 24px
    }

    .mat-tooltip-trigger {
      color: #234a7d !important;
      top: 0;
      position: relative
    }

    .mat-tooltip {
      padding: 10px !important;
      background: #234a7da3;
      position: relative;
      top: -10px;
      letter-spacing: .5px
    }

    .mat-form-field-suffix {
      display: flex;
      align-items: center
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #3f51b5 !important
    }

    @media (min-width:320px) and (max-width:767px) {

      .mat-button,
      .mat-flat-button,
      .mat-icon-button {
        min-width: auto !important;
        padding: 0 !important
      }
    }

    @media (min-width:320px) and (max-width:767px) {
      ._loginBtn.mat-raised-button {
        font-size: 11px;
        min-width: auto !important;
        line-height: 28px !important
      }
    }

    .mat-menu-panel {
      min-width: 210px !important;
      max-width: 210px
    }

    .mat-menu-panel.is-masterList {
      height: 300px
    }

    .mat-menu-panel.is-masterList::-webkit-scrollbar {
      width: 8px;
      border-radius: 25px
    }

    .mat-menu-panel.is-masterList::-webkit-scrollbar-thumb {
      background: #bfc0c2;
      border-radius: 3px
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #234a7d !important
    }

    .mat-form-field-label {
      color: #4c4c4cb7 !important
    }

    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: #ccc !important
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #234a7d !important
    }

    .mat-form-field-invalid .mat-input-element,
    .mat-warn .mat-input-element {
      caret-color: #234a7d !important
    }

    .mat-calendar-header {
      background-color: #234a7d !important
    }

    .mat-calendar-previous-button {
      color: #fff !important
    }

    .mat-calendar-next-button {
      color: #fff !important
    }

    .mat-calendar-period-button {
      color: #fff !important
    }

    .mat-calendar-arrow {
      color: #fff !important;
      border-top-color: #fff !important
    }

    .mat-calendar-invert {
      color: #fff !important
    }

    .mat-calendar-body-cell-content.mat-calendar-body-selected {
      background-color: #234a7d !important
    }

    .mat-calendar-body-cell-content.mat-calendar-body-today {
      border: 2px solid #234a7d !important
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #234a7d !important
    }

    ._IconAlign[_ngcontent-bta-c179] {
      position: relative;
      top: .4rem
    }

    ._hide-mobile[_ngcontent-bta-c179] button[_ngcontent-bta-c179] {
      font-weight: 500 !important
    }

    ._hide-mobile[_ngcontent-bta-c179] span[_ngcontent-bta-c179] {
      display: inline-block
    }

    @media screen and (max-width:991px) {
      ._hide-mobile[_ngcontent-bta-c179] {
        display: none
      }
    }

    ._hide-web[_ngcontent-bta-c179] {
      display: none
    }

    @media screen and (max-width:991px) {
      ._hide-web[_ngcontent-bta-c179] {
        display: inline-block
      }
    }

    mat-toolbar[color=primary][_ngcontent-bta-c179] {
      height: 50px;
      background-color: #234a7d !important
    }

    .mat-tooltip {
      font-size: 12px !important;
      font-weight: 700 !important;
      max-width: 275px !important
    }

    .is-viewHistoryBtn[_ngcontent-bta-c179] {
      font-size: 10px;
      padding: 0 5px;
      line-height: 28px
    }

    .pwa-install[_ngcontent-bta-c179] {
      bottom: 0;
      background: #333 none repeat scroll 0 0;
      margin-bottom: 5px;
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
      border-radius: 5px;
      position: fixed;
      transition: all .2s ease 0s;
      z-index: 99;
      text-align: center;
      width: auto;
      left: 0;
      transform: translate(calc(50vw - 50%));
      padding: 5px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center
    }

    .pwa-install[_ngcontent-bta-c179] .mat-icon[_ngcontent-bta-c179] {
      transform: scale(.9)
    }

    .pwa-install[_ngcontent-bta-c179] .mat-icon-button[_ngcontent-bta-c179] {
      width: 20px;
      height: auto;
      margin-left: 2px
    }
  