footer[_ngcontent-fjj-c178] {
  position: static;
  bottom: 0;
  width: 100%
}

@media (min-width:320px) and (max-width:767px) {
  footer[_ngcontent-fjj-c178] {
    text-align: center
  }
}

footer[_ngcontent-fjj-c178] .time-icon[_ngcontent-fjj-c178] {
  height: 0;
  width: 16px;
  font-size: 15px;
  position: relative;
  top: 3px
}

.bg-dark[_ngcontent-fjj-c178] {
  color: #fff;
  background: radial-gradient(circle, #138f78 0, #234a7d 100%);
  border-top: 4px solid #ccc
}

.gov-sites[_ngcontent-fjj-c178] {
  list-style: none;
  text-align: center;
  padding-right: 0;
  margin-bottom: 20px
}

.gov-sites[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178] {
  display: inline-block;
  margin-right: 20px
}

.gov-sites[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178] img[_ngcontent-fjj-c178] {
  width: 165px
}

footer[_ngcontent-fjj-c178] {
  overflow-x: hidden
}

.quick-links[_ngcontent-fjj-c178] {
  list-style: none;
  text-align: center;
  margin-top: 10px
}

.quick-links[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178] {
  display: inline-block;
  margin: 0 10px;
  position: relative
}

.quick-links[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178]:after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  right: -11px
}

.quick-links[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178]:last-of-type:after {
  width: 0
}

.quick-links[_ngcontent-fjj-c178] li[_ngcontent-fjj-c178] a[_ngcontent-fjj-c178] {
  text-decoration: none;
  color: #fff;
  cursor: pointer
}

.css-sprite-logo-data-gov[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) 0 -25px;
  width: 165px;
  height: 50px;
  background-size: 985%
}

.css-sprite-logo-digitalindia2[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) -155px 0;
  width: 165px;
  height: 50px;
  background-size: 700%
}

.css-sprite-logo-indiagov[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) -410px 2px;
  width: 165px;
  height: 50px;
  background-size: 745%
}

.css-sprite-logo-makeinindia[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) -636px -1px;
  width: 165px;
  height: 50px;
  background-size: 725%
}

.css-sprite-logo-mygov[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) 318px 0;
  width: 165px;
  height: 50px;
  background-size: 700%
}

.css-sprite-logo-pmica[_ngcontent-fjj-c178] {
  background: url(/assets/footer-logo-sprite-3.150ba99c6fa2a0b159c8.png) 152px -19px;
  width: 150px;
  height: 50px;
  background-size: 1000%
}
